<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Preco</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>
</table>